.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
app/stylesheets/.sass-cache
config.rb
.DS_Store
TODO.txt
rerun.txt
vendor/plugins/rails_upgradedb/schema.rb
public/stylesheets/compiled
.rvmrc