html, body 
{
	margin: 0px;
	padding: 0px;
	
	height: 100%;
}

body 
{
	background: #d1e3fb url(/images/varbalen/bakgrund.png) center repeat-y;
}

p, ul, dl
{
	font-family: Verdana, sans-serif;
	font-size: 11pt;
	
	line-height: 13pt;
	
	color: #333333;
	
	margin-top: 0px;
}

ul
{
	list-style-type: square;
}

a
{
	color: #555555;
}

textarea.text, input.text, input.button 
{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11pt;
}

textarea.text, input.text
{
	border: 1px solid #cccccc;
}

div#container 
{
	width: 970px;
	margin: 0px auto;
	
	position: relative;
	height: 100%;
	
}

div#header
{
    width: 990px;
    height: 310px;
	background: url(/images/varbalen/banner.png) no-repeat;
}

div#content
{
	padding: 00px 30px 30px 30px;
	background: url(/images/varbalen/bottom.pn) no-repeat;
}

/* This is a hack! We couldn't get floating to the left to work in IE so we used two right floats instead. */
div#left
{
	
	width: 830px;
	padding: 00px 00px 00px 50px;

}

div#right
{
	float: right;
	width: 420px;
	color: black;
}

div#right div
{
/*	background-color: #211e1e;*/
	/*border: 2px solid white;*/
	padding: 10px;
}<	

div#right div dl, div#right div p, div#right div ul
{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 9pt;

	color: white;
}

div#right a {
	color: #cccccc;
}

div#right dl dd
{
	margin-bottom: 6px;
}

dl.form {
}

a:link{
	color: #000000;
}

a:visited{
	color: #000000;
}

a:hover{
	color: #000000;
}

a:active{
	color: #000000;
}