html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

body .clear { clear: both; }
body .nowrap { white-space: nowrap; }
body .clearfix { overflow: hidden; display: inline-block; }
body .clearfix { display: block; }
body .small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
body .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body .first { margin-left: 0; padding-left: 0; }
body .last { margin-right: 0; padding-right: 0; }
body .top { margin-top: 0; padding-top: 0; }
body .bottom { margin-bottom: 0; padding-bottom: 0; }
body .showgrid { background: url('/images/grid.png?1256232505'); }
body .error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body .error a { color: #8a1f11; }
body .notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body .notice a { color: #514721; }
body .success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body .success a { color: #264409; }
body .hide { display: none; }
body .highlight { background: yellow; }
body .added { background: #006600; color: white; }
body .removed { background: #990000; color: white; }
body #container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
body #container { display: block; }
body #header { display: inline; float: left; margin-right: 10px; width: 950px; }
* html body #header { overflow-x: hidden; }
body #header h1 { color: #E2007F; font-family: 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif; font-weight: 100; padding-top: 18px; padding-left: 90px; }
body #header h1 a { text-decoration: none; color: #E2007F; font-size: 72px; line-height: 72px; }
body #header h1 avisited { text-decoration: none; color: #E2007F; }
body #footer { display: inline; float: left; margin-right: 10px; width: 950px; }
* html body #footer { overflow-x: hidden; }
body #content { display: inline; float: left; margin-right: 10px; width: 950px; }
body #content #navigation { float: right; }
* html body #content { overflow-x: hidden; }

h2 { font-size: 36px; margin-top: 18px; margin-bottom: 18px; margin-left: 18px; font-family: 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif; font-weight: 100; color: #E2007F; }

h3 { margin-bottom: 12px; border-bottom: 1px solid gray; }

h4 { font-size: 0.97em; }

#errorExplanation { margin-bottom: 18px; margin-top: 18px; background-color: #C38A38; border: #CB3632 2px solid; padding: 9px; }
#errorExplanation h3 { border-bottom: none; }
#errorExplanation ul { margin-top: 9px; }
#errorExplanation ul li { list-style-type: disc; margin-left: 36px; }

.fieldWithErrors input { background-color: #E2231B; }

#flash_error { background-image: url(/images/icons/error.png); background-repeat: no-repeat; background-position: center left; padding-left: 20px !important; border: 2px solid #CB3632; padding: 9px; }

#flash_notice { background-image: url(/images/icons/information.png); background-repeat: no-repeat; background-position: center left; padding-left: 20px !important; padding: 9px; }

table.vertical_header th { text-align: left; }

div.email table.email { margin-left: 0; }
div.email div.body { background-color: #DAE6F0; border: 1px solid #AAAAAA; padding: 5px; margin-left: 10px; font-family: monospace; margin-bottom: 20px; }

form li { list-style-type: none; margin-bottom: 5px; }
form li label { display: block; }
form input[type=submit] { margin: 10px; margin-left: 20px; }

#economy_report_table input[type=checkbox] { height: 18px; width: 18px; }

p.explanation { margin-bottom: 5px; margin-left: 15px; }
p.empty_list { margin-left: auto; margin-right: auto; text-align: center; }
