html, body 
{
  margin: 0px;
  padding: 0px;
  
  height: 100%;
}

body 
{
  background: #ade2fa url(/images/plums/background.gif) center repeat-y;
}

p, ul, dl
{
  font-family: Verdana, sans-serif;
  font-size: 11pt;
  
  line-height: 13pt;
  
  color: #333333;
  
  margin-top: 0px;
}

ul
{
  list-style-type: square;
}

a
{
  color: #555555;
}

textarea.text, input.text, input.button 
{
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 11pt;
}

textarea.text, input.text
{
  border: 1px solid #cccccc;
}

div#container 
{
  width: 880px;
  margin: 0px auto;
  
  position: relative;
  height: 100%;
  
}

div#header
{
    width: 880px;
    height: 310px;
  background: url(/images/plums/banner.png) no-repeat;
}

div#content
{
  padding: 00px 30px 30px 30px;
  background: url(/images/plums/bottom.png) no-repeat;
}

/* This is a hack! We couldn't get floating to the left to work in IE so we used two right floats instead. */
div#left
{
  width: 470px;
  margin-right: 50px;
  padding-top: 10px;
}

div#right
{
  font-family: Tahoma, Helvetica, sans-serif;
  
  float: right;
  width: 280px;

  color: black;  
}

div#right div
{
/*  background-color: #211e1e;*/
  border: 2px solid white;
  padding: 10px;
}<  

div#right div dl, div#right div p, div#right div ul
{
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 9pt;

  color: white;
}

div#right a {
  color: #cccccc;
}

div#right dl dd
{
  margin-bottom: 6px;
}

form ul {
  
}

form li {
  list-style-type: none; 
  margin-bottom: 5px;
}

form li label {
  display: block;
  font-family: Tahoma, Helvetica, sans-serif;
  
}

form input[type=submit] {
  margin: 10px;
  margin-left: 20px;
}

form input[type=radio], form input[type=checkbox] {
  float: left;
}

h3, h2 {
  font-family: Tahoma, Helvetica, sans-serif;
}
