html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0.97em;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #E2007F;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 10px;
}

table td, table th {
  padding: 5px;
}

table th {
  border-bottom: 1px solid black;
}

table tr.even {
  background-color: #ccc;
}

table tr.odd {
  background-color: #aaa;
}

table.vertical_header th {
  border: none;
}

.break {
  clear: both;
}

#header {
  height: 70px;
}

h1 {
  font-size: 2em;
  color: white;
  padding-top: 20px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 12px;
}


h3 {
  font-size: 1.1em;
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}

h4 {
  font-size: 0.97em;
}

#wrap {
  width: 800px;
  margin: 0 auto;
}

#content {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  
}

p.explanation {
  font-size: 0.7em;
  margin-bottom: 5px;
  margin-left: 15px;
}

p.empty_list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


table {
  margin-bottom: 1em;
}

tr {
  margin: 10px;
}

td {
  padding: 0.5em 0.2em;
}

#content > p#actions {
  margin-top: 12px;
  float: right;
}

a.button {
  border: 1px #AAAAAA solid;
  padding: 4px;
  background-color: #CCCCCC;
}

table.vertical_header th {
  text-align: left;
}

div.email table.email {
  margin-left: 0;
}

div.email div.body {
  background-color: #EEEEEE;
  border: 1px solid #AAAAAA;
  padding: 5px;
  margin-left: 10px;
  font-family: monospace;
  margin-bottom: 20px;
}

form ul {
  
}

form li {
  list-style-type: none; 
  margin-bottom: 5px;
}

form li label {
  display: block;
}

form input[type=submit] {
  margin: 10px;
  margin-left: 20px;
}
