%h1= t('.title')

%table
  %tr
    %th Användarnamn
    %th
  
  - @users.each do |user|
    %tr
      %td= user.login
      %td
        =# link_to t('remove'), user, :method => :delete

%p
  = link_to t('.new'), new_user_path
      
  
  