form.jw-widget {
  h2 {
    padding: 0 0 0 0;
    font-size: 22px;
  }
  
  div.jw-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  fieldset {
    border: none;
    legend {
      display: none;
    }
  }
  min-height: 300px;
}
