<h3><%= title %></h3>

<p class="explanation">
  <%= explanation %>
</p>

<div class="email">
  
  <div class="body">
    
    <table class="vertical_header email">
      <tr>
        <th>Subject:</th>
        <td><%= template.subject %></td>
      </tr>
    </table>
    
    <%= template.body %>
  </div>
  
</div>
