<h2>Events</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
  </tr>
  
  <% for event in @events %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.date.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= button_link_to "Delete", event, :method => :delete, :confirm => "Are you sure you want to delete \"#{event.name}\"" %></td>
    </tr>
  <% end -%>
</table>

<p id="actions">
  <%= button_link_to "New event", new_event_path %>
</p>

<div class="break"></div>