<html>
  <head>
    <title>Signup-fu</title>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="9kBsDXROYAU0/5/PmNww1reP+C67DYX+9Y9AeVWQ+lo="/>
    <script src="/javascripts/jquery.js?1286638643" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui.js?1286798316" type="text/javascript"></script>
    <script src="/javascripts/rails.js?1286638643" type="text/javascript"></script>

    <script src="/javascripts/application.js?1286908828" type="text/javascript"></script>
    <script src="/javascripts/application.js?1286908828" type="text/javascript"></script>
    <script src="/javascripts/jquery.jWizard.js?1286723357" type="text/javascript"></script>
    
    
    <link href="/stylesheets/compiled/screen.css?1287154903" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jWizard.base.css?1286831375" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery-ui/signup-fu/jquery-ui-1.8.5.custom.css?1286798316" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>

  <body class='events_index'>
    <div id='wrap'>
      <nav id='mainnav'>
        <h1 id='textlogo'>
          <a href='/'>
            Signup<span>Fu</span></a>
        </h1>
      </nav>
      <section class='normalpage' id='content'>
        <section>
          {{ template_content }}
        </section>
      </section>
    </div>
  </body>
</html>
