<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">
<head>
  <title>DKM - Datas Klubbmästeri</title>
  <link href="/stylesheets/dkm/dkm.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/dkm/dkm_forms.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <script src="/javascripts/scriptaculous.js" type="text/javascript"></script>
</head>
<body>

<h1><img alt="DKM Datas Klubbmästeri" src="/images/dkm/logo.png" /></h1>

<div id="container">
  <div id="menu">
    <ul>
      <li><a href="http://www.d.kth.se/sektionen/namnder/dkm">TILLBAKA TILL DKM</a></li>
    </ul>
  </div>
  
  <div id="content">
    {{template_content}}
  </div>
</div>
</body>
</html>
