<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Vårbalen 2010</title>
  <link type="text/css" href="/stylesheets/varbalen/default.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/dkm/dkm_forms.css" rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div id="header"></div>    
        <div id="content">
          <div id="left">
            {{ template_content }}
          </div>
        </div>
        <div style="clear: both"></div>
      </div>  
  </div>
</body>
</html>

